.publications
  padding-top: 0

  &__olympiads_content
    padding-top: 282px
  &__hero_btn
    padding: 20px 50px
    background-color: #FFFFFF
    border-radius: 10px
    font-weight: 600
    font-size: 24px
    color: #000000
    width: 100%
    max-width: 446px
    display: flex
    align-items: center
    justify-content: center

  &__hero_content
    background-color: #CDC4FB

  &__hero_descr
    font-weight: 500
    font-size: 24px
    line-height: 36px
    color: #2D2323
    margin: 0

  &__hero_item
    text-decoration: underline
    justify-content: center
    cursor: pointer

  &__hero_img
    flex-grow: 1

  &__hero
    margin-bottom: 144px

  &__advantages
    margin-bottom: 71px

  &__advantages_title
    margin-bottom: 65px

    span
      color: #1691D0

  &__advantages_list
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 15px

  &__advantages_item
    padding: 40px
    background-color: #1691D0
    border-radius: 10px

  &__advantages_item_icon

  &__advantages_item_text
    width: 100%
    max-width: 530px
    display: flex
    flex-direction: column
    gap: 10px

    &_shorter
      max-width: 425px

  &__advantages_item_title
    margin: 0
    font-weight: 700
    font-size: 40px
    line-height: 116%
    color: #fff

  &__advantages_item_descr
    margin: 0
    font-weight: 400
    font-size: 20px
    line-height: 24px
    color: #fff

  &__accept
    margin-bottom: 161px

  &__accept_list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 20px
    background-color: #134283
    border-radius: 10px
    padding: 63px 42px

  &__accept_item
    padding: 40px 20px
    background-color: rgba(22, 145, 208, 0.3)
    border: 1px solid #FFFFFF
    border-radius: 10px
    font-weight: 400
    font-size: 20px
    line-height: 24px
    color: #FFFFFF

    ul
      display: flex
      flex-direction: column
      gap: 10px
      list-style-type: initial

  &__steps
    margin-bottom: 150px

  &__steps_bg
    position: absolute
    top: 50%
    right: -20px
    transform: translate(100%, -50%)

  &__steps_wrapper
    display: flex
    align-items: center
    gap: 132px
    margin-bottom: 49px

  &__steps_list
    display: flex
    flex-direction: column
    gap: 20px
    position: relative

  &__steps_item
    padding: 25px
    background-color: #FFFFFF
    border: 1px solid #000000
    border-radius: 10px

    &_full_column
      display: flex
      flex-direction: column
      gap: 20px

  &__steps_item_block
    padding: 25px
    background-color: #FFFFFF
    border: 1px solid #000000
    border-radius: 10px

  &__steps_item_num
    font-weight: 700
    font-size: 96px
    line-height: 1
    color: #2D2323

  &__steps_item_text
    font-weight: 700
    font-size: 24px
    line-height: 30px
    color: #2D2323

    &_max_width
      width: 100%
      max-width: 436px

  &__steps_btn
    padding: 20px 50px
    background-color: #FF662C
    border-radius: 10px
    width: 100%
    max-width: 436px
    font-weight: 600
    font-size: 24px
    color: #FFFFFF
    margin: 0 auto

  &__certificate
    margin-bottom: 150px
    padding: 50px
    background: #134283
    border-radius: 12px
    display: flex
    flex-direction: column
    position: relative

  &__certificate_title
    font-weight: 700
    font-size: 40px
    line-height: 48px
    color: #FFFFFF
    width: 100%
    max-width: 798px
    margin: 0
    margin-bottom: 39px

  &__certificate_btn
    padding: 20px 50px
    background-color: #FF662C
    border-radius: 10px
    font-weight: 600
    font-size: 24px
    color: #FFFFFF
    width: 100%
    max-width: 560px

  &__certificate_img
    position: absolute
    right: 0
    top: 0
    height: 100%

  &__content
    margin-bottom: 150px

  &__content_list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    background-color: #FFFFFF
    box-shadow: 0px 16px 16px -8px rgba(12, 12, 13, 0.1), 0px 4px 4px -4px rgba(12, 12, 13, 0.05)
    border-radius: 10px
    padding: 35px 0

  &__content_item
    display: flex
    flex-direction: column
    gap: 10px
    text-align: center
    padding: 0 30px

    &:not(:last-child)
      border-right: 1px solid #134283

  &__content_item_title
    font-weight: 700
    font-size: 40px
    line-height: 50px
    color: #2D2323

  &__content_item_val
    font-weight: 700
    font-size: 64px
    line-height: 68px
    color: #1691D0

  &__content_item_descr
    font-weight: 400
    font-size: 20px
    line-height: 24px
    color: #2D2323
    margin: 0

@media (max-width: 1399.98px)
  .publications
    &__advantages_item
      padding-right: 200px

    &__advantages_item_icon
      width: 180px

@media (max-width: 1199.98px)
  .publications
    &__advantages_list
      grid-template-columns: 1fr
    &__accept_list
      grid-template-columns: repeat(2, 1fr)
    &__steps_list
      grid-template-columns: repeat(1, 1fr)

    &__steps_item
      &_full_column
        grid-template-columns: 1fr

      >div
        grid-column: initial

@media (max-width: 991.98px)
  .publications
    &__content_list
      grid-template-columns: 1fr

@media (max-width: 767.98px)
  .publications
    &__accept_list
      grid-template-columns: 1fr

    &__advantages_item
      padding: 30px
    &__advantages_item_title
      font-size: 32px
    &__advantages_item_descr
      font-size: 18px
    &__advantages_item_text
      max-width: initial
    &__advantages_item_icon
      display: none

@media (max-width: 575.98px)
  .publications
    &__content
      margin-bottom: 50px
    &__hero
      margin-bottom: 50px
    &__accept
      margin-bottom: 50px
    &__steps
      margin-bottom: 50px
    &__certificate
      margin-bottom: 50px
      padding: 25px
    &__certificate_btn
      font-size: 20px
    &__certificate_title
      font-size: 35px
      line-height: 1.2
